$b: black;
$l_color: white;
$o_color: orange;
$h_color: #FF1493; //For the heart icon
$s_color: rgba(255, 215, 0, 1);
$r: #FF0000;
$g: #008000;
$del_color: #4254B1;
$f_size: 35px;
$f_size_2: 45px;
$f_size_3: 30px;
$i_panel: 65px;
$close_i: 75px;
$radius: 25px;
$m_name: 40px;
$title: 40px;
$m_author: 20px;
$i_player: 35px;
$farro: "Farro", sans-serif;
$fauna_one: "Fauna One", serif;
$tran_8: .8s;
$p_color: gold; // For "polzunok_children"